.hero-section {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -12px;
    position: relative;
  }
  
  .form-wrapper {
    display: flex;
    flex-flow: row wrap;
    max-width: 200px;
    width: 100%;
  }
  input {
    margin: 10px 0;
  }
  
  .form {
    background: #fff;
    padding: 30px 30px 30px 10px;
    max-width: 150px;
    position: absolute;
    top: 30px;
    left: -60px;
  }
  
  
  .image {
    background-image: url("https://ctfassets.imgix.net/vh7r69kgcki3/3Rp8TadHuB4736bDSYrMk7/d5585f00041d9b38458e7f8fd77f56ae/Web_150DPI-2018_11_19_WW_SF_1047_0989_1157_2385__1_.jpg?auto=format%20compress&fit=crop&q=50&w=2250&h=1266");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 35%;
    height: auto;
    display: block;
    padding: 9em;
    margin: 0 auto;
    position: relative;
  }